@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.numpad li {
  @apply p-1 rounded-full bg-gray-600 w-16 h-16 text-center;
  line-height: 58px;
}

.numpad .operator {
  @apply p-1 rounded-full bg-amber-600 w-16 h-16 text-center;
  line-height: 58px;
}

.numpad li:hover {
  background: #fff;
  color: #333;
}
